<h1>
	Autosizing Textarea
</h1>

<div class="example">
	<h2>Free Textarea</h2>
	<textarea appAutosize></textarea>
</div>
<div class="example">
	<h2>
		Textarea With Min Height and Max Height
	</h2>
	<textarea appAutosize [minHeight]="100" [maxHeight]="800">Hello World</textarea>
</div>
<div class="example">
	<h2>Autosize on window Resize</h2>
	<textarea appAutosize [minHeight]="100" [maxHeight]="500" class="full-width" >
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, nisi voluptates commodi illo iusto quaerat molestias hic sapiente blanditiis impedit, perferendis, unde assumenda eius ea placeat ex velit? Dicta, iusto.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, nemo! Non a cupiditate officiis optio! Temporibus sequi ullam nemo veritatis corrupti, hic cum quae quis natus, qui eum non at. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt inventore, deleniti porro nobis culpa odit laboriosam odio impedit fugiat. Doloribus, vel qui. Quisquam commodi voluptatibus harum eveniet obcaecati dignissimos explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum suscipit, hic quidem incidunt soluta sint animi voluptate voluptatum nisi natus consequatur id consectetur voluptas dolores architecto, unde minima fugit fugiat?
</textarea>
</div>