/* Add application styles & imports to this file! */

textarea {
  resize: none;
  padding: 0 4px;
}

.example {
  margin-bottom: 60px;
  max-width: 1200px;
  margin: auto;
}

.full-width {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.contenteditable {
  min-height: 18px;
}
